/*폰트 */
@font-face {
    font-family: 'OneStoreMobilePop';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.login-box {
  display: flex;
    background: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

/* 왼쪽 */
.left {
    flex: 1;
    padding: 40px;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    color: gray;
    font-size: 12px;
    /* margin-bottom: 20px; */
}

/* 입력 박스 */
.log_input input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 두 줄 정렬 */
.row-input {
    display: flex;
    gap: 10px;
}

.row-input input {
    flex: 1;
}

/* 비밀번호 박스 */
.codebox {
    position: relative;
}

.codebox input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.codebox i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}

.resend{
    background: none;
    border: none;
    font-size: 12px;
    color: gray;
    text-decoration-line: none;
    margin-bottom: 15px;

}

.certified {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #8DD3BB;
    color: black;
    font-weight: bold;
    cursor: pointer;
}


/* 오른쪽 이미지 */
.right {
    flex: 1;
}

.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*Back to Login 부분*/
.back{
    display: flex;
    gap: 5px;
    cursor: pointer;
}

:deep(.font){
    font-family: 'OneStoreMobilePop';
    color: black;
}

a{
    text-decoration-line: none;
    color: inherit;
}

/*페이지 이동*/
.fade-slide-out {
    animation: fadeSlideOut 0.6s forwards;
}

@keyframes fadeSlideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(-100%);
    }
}

/* 오른쪽 이미지 영역 */
.right {
    width: 400px;
    height: 300px;
    margin-top: 16px;
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;


}

/* 이미지 슬라이드 */
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;

}


.right img.active {
    opacity: 1;
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
    background: #8DD3BB;
}
