/*footer*/
.subscription-box {
  background-color: #cdeae1;
  border-radius: 10px;
  padding: 30px;
  width: 1232px;
  height: 305px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 230px;
}

.subscription-form-container{
  display: flex;
  gap: 15px;
  margin-top: 15px;
}
.subscription-form-container input {
  width: 500px;
  height: 50px;
  background-color: white;
  border-radius: 4px;
  padding: 0 15px;
  border: none;
}
.subscription-form-container button {
  width: 90px;
  height: 50px;
  color: white;
  border-radius: 4px;
  background-color: #112211;
}

.subscription-image {
  position: relative;
  right: 40px;
}

footer {
  background-color: #8dd3bb;
  height: 422px;
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  margin: 0 auto;
  position: relative;
  flex-direction: column;
  margin-top: 320px;
  text-align: left;
}

.subscription-content p {
  color: black;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  width: 1232px;
  position: relative;
  top: 75px;
  padding: 0;
}
.footer-letter {
  justify-content: space-evenly;
}
.footer-span {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 15pt;
}
.footer-span-details {
  color: #375844;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 13px;
  gap: 10px;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.nav-left {
  display: flex;
  gap: 30px;
}

.nav-container .item {
  display: flex;
}

.tab {
  position: relative;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-weight: 600;
  color: #222;
  padding-bottom: 5px;
}

.tab.active {
  color: #112211;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #46bd7b;
  border-radius: 0;
}