/* 공통 초기화 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.login-box {
    display: flex;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 800px;
    max-width: 90%;
}

/* 왼쪽 */
.left {
    flex: 1;
    padding: 40px;
}

h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

p {
    color: gray;
    font-size: 12px;
    /* margin-bottom: 20px; */
}

.description {
    font-size: 8px;
    color: gray;
    text-align: center;
}

/* 카드번호 입력 부분 */
.cardbox {
    position: relative;
}

.cardbox input {
    width: 100%;
    padding: 12px 40px 12px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cardbox i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: blue;
}

/* 입력 박스 */
.log_input input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 두 줄 정렬 */
.row-input {
    display: flex;
    gap: 10px;
}

.row-input input {
    flex: 1;
}

/* 이름/국가 박스 */
.county {
    position: relative;
}

.county input,
.county select {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/*.namebox i {*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    top: 50%;*/
/*    transform: translateY(-50%);*/
/*    cursor: pointer;*/
/*    color: gray;*/
/*    pointer-events: none; !* 아이콘 눌러도 select 열림 *!*/
/*}*/

.select-wrapper {
    position: relative;
}

/* 체크박스 */
.check_box2 {
    font-size: 12px;
    margin: 10px 0;
}

/* 버튼 */
.Pay_Add{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #8DD3BB;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

/* 이미지 슬라이드 */
.right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border-radius: 15px;
}


.right img.active {
    opacity: 1;
}

/* 슬라이드 dot */
.dots {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 2;
}

.dot {
    width: 8px;
    height: 8px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.dot.active {
    opacity: 1;
    background: #8DD3BB;
}

